.nav-header{
  background-color: #f2f2f2;
  height: 42px;
  position: relative;
}
.nav-header .nav-search{
  height: 30px;
  position: absolute;
  width: 85%;
  background-color: #fff;
  top: 5px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  text-align: center;
  vertical-align: middle;
}
.nav-header .nav-search .nav-search-icon{
  background: url('../images/search-icon.png') no-repeat 0 0;
  width: 15px;
  height: 15px;
  background-size: 15px;
  display: inline-block;
  margin-top: 5px;
  vertical-align: middle;
}
.nav-header .nav-search .nav-search-text{
  font-size: 0.94em;
  color: #979797;
  display: inline-block;
  margin-left: 7px;
  vertical-align: middle;
  margin-top: 5px;
}
.nav-header .nav-class{
  position: absolute;
  right: 8px;
  top: 5px;
  display: block;
  width: 25px;
}
.nav-header .nav-class .nav-class-icon{
  background:url('../images/nav-class.png') no-repeat 0 0;
  background-size: 18px;
  width: 20px;
  height: 18px;
  display: block;
}
.nav-header .nav-class .nav-class-text{
  font-size: 0.5625em;
  display: block;
  color: #323232;
}
.footer{
  display: block;
  height: 50px;
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.footer ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.footer .footer-item{
  width: 20%;
  height: 100%;
}
.footer .footer-item a{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
.footer .footer-item a .footer-icon{
  display: block;
  width: 25px;
  height: 23px;
  margin: 0 auto;
}
.footer .footer-item a .footer-icon.home{
  background: url('../images/footer-icon.png') 0px -94px no-repeat;
  background-size: 25px;
}
.footer .footer-item.sel a .footer-icon.home{
  background: url('../images/footer-icon.png') 0px 0px no-repeat;
  background-size: 25px;
}
.footer .footer-item a .footer-icon-scan{
  width: 37px;
  height: 37px;
  display: block;
  background: url('../images/scan-icon.png') 0 0 no-repeat;
  background-size: 37px;
  margin: 0 auto;
}
.footer .footer-item a .footer-icon.city{
  background: url('../images/footer-icon.png') 0px -118px no-repeat;
  background-size: 25px;
}
.footer .footer-item.sel a .footer-icon.city{
  background: url('../images/footer-icon.png') 0px -23px no-repeat;
  background-size: 25px;
}
.footer .footer-item a .footer-icon.customer{
  background: url('../images/footer-icon.png') 0px -142px no-repeat;
  background-size: 25px;
}
.footer .footer-item.sel a .footer-icon.customer{
  background: url('../images/footer-icon.png') 0px -46px no-repeat;
  background-size: 25px;
}
.footer .footer-item a .footer-icon.my{
  background: url('../images/footer-icon.png') 0px -165px no-repeat;
  background-size: 25px;
}
.footer .footer-item.sel a .footer-icon.my{
  background: url('../images/footer-icon.png') 0px -71px no-repeat;
  background-size: 25px;
}
.footer .footer-item a .footer-title{
  display: block;
  font-size: 0.69em;
  color: #979797;
}
.footer .footer-item.sel a .footer-title{
  display: block;
  font-size: .69em;
  color: #323232;
}